    @font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/space-grotesk-v21-latin-regular.woff2') format('woff2');
    }

    h1 {
        font-family: "Space Grotesk", sans-serif;
        font-size: 56px;
        font-weight: 400;
        line-height: 64px;
    }

    label,
    button,
    input {
        font-family: "Space Grotesk", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
    }